{% extends 'base.html.twig' %}

{% block title %}Ma commande Aya Boutique{% endblock %}

{% block content %}

    <div class="container rounded  text-white  mt-5">

        <div class="container bg m-2 text-center">
            <a class="float-left m-2" href="{{ path('account_order') }}"><img
                        src="{{ asset('assets/images/return.png') }}"
                        height="24px"></a>

            <h1><a href=""><img src="{{ asset('assets/images/order.png') }}"
                                width="40px"></a> {% block monTitle %}Ma commmandes {{ order.reference }} {% endblock %}
            </h1>

        </div>
        <hr>
        <hr>
        <div class="container">
            <div class="container bg-dark rounded">
                <p>Statut de la commande: </p>
                {% if order.state == 1 %}
                    <div class="alert alert-success"> Commande validée</div>
                {% elseif order.state == 2 %}
                    <div class="alert alert-warning"> En preparation</div>
                {% elseif order.state == 3 %}
                    <div class="alert alert-danger"> En cours de livraison</div>
                {% endif %}
                <p>Commande passée le: <strong>  {{ order.createdAt| date('d/m/y') }} </strong></p>
                <p>Réference de ma commande: <strong>{{ order.reference }}</strong></p>
                <p>Transporteur choisi: <strong>{{ order.carriername }}</strong></p>
                <p>Détails commande: </p>
                <table class="table table-bordered  text-white">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for product in order.orderDetails %}
                        <tr>
                            <td>{{ product.product }}</td>
                            <td>X {{ product.quantity }}</td>
                            <td>{{ ((product.price)/100)|number_format(2, '.', ',') }} €</td>
                            <td>{{ ((product.price)/100)|number_format(2, '.', ',') }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="container text-bold text-right text-white">
                    <div class=" inline-block">
                        <strong>Sous total: {{ ((order.getTotal)/100)|number_format(2, '.', ',') }} €</strong>
                    </div>
                    <div class=" inline-block">
                        <strong>Livraison: {{ ((order.carrierprice)/100)|number_format(2, '.', ',') }} €</strong>
                    </div>
                    <div class=" inline-block">
                        <strong>Total: {{ ((order.carrierPrice + order.getTotal)/100)|number_format(2, ',', '.') }}
                            €</strong>
                    </div>
                </div>
            </div>

        </div>


    </div>



{% endblock %}