{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="container ">
        <h1> Modifier mon mot de passe </h1>
        <p> Bienvenu {{ app.user.firstname }} dans votre compte </p>
        <hr>
        <a href="{{ path('account') }}"> retourner a mon compte</a><br>
        <hr>
        {% if notification %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ notification }}
            </div>
        {% endif %}
        {#
        {{ form_row(form.email) }}
        #}


        <div class="loginBox small-block text-center"><img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
            <h3>Inscrivez vous ici</h3>

            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="inputBox"> {{ form_row(form.firstname) }} </div>
                </div>
                <div class="col-md-6">
                    <div class="inputBox"> {{ form_row(form.lastname) }} </div>
                </div>
            </div>
            <div class="inputBox bg-dark"> {{ form_row(form.email) }} </div>

                <div class="inputBox"> {{ form(form) }}  </div>

            <div class="inputBox"> </div>
            <a href="#">Connecter vous</a>
        </div>
        <hr>
    </div>

{% endblock %}

{% block footer %}
    {% include'footer/footer.html.twig' %}
{% endblock %}